
* {
    box-sizing: border-box;
  }
  
  $width: 75%;

  .MapContainer {
      width: $width;
      margin: 0 auto;
      font-family: Arial, sans-serif;
      text-align: center;
  
      &__title {
          margin-bottom: 80px;
          padding-bottom: 40px;
          border-bottom: 1px dotted black;
          font-size: 24px;
      }
  
      &__block {
          margin-bottom: 20px;
          padding-bottom: 20px;
          border-bottom: 1px dotted black;
  
  
          &__title {
              margin-bottom: 40px;
              padding-top: 40px;
              font-size: 20px;
          }

          &__refreshDate {
            margin: 50px 0 0 0;
            }
  
          &__info {
              display: inline-block;
              vertical-align: top;
              width: 450px;
              text-align: left;
  
              &__item {
                  margin-bottom: 20px;
              }
          }
  
          &__map {
              display: inline-block;
              
              &--london {
                  text-align: center;
                  border: 1px solid black;
                  
                  .svg-map__location {
                      stroke:black;
                      stroke-width: 0.5;

                      &[aria-checked="false"]{
                          opacity: 0.3;
                      }
                    
                       &--heat0 {
                          fill: navy;
                      }
  
                      &--heat1 {
                          fill: lightyellow;
                      }
  
                      &--heat2 {
                          fill: rosybrown;
                      }
  
                      &--heat3 {
                          fill: lightcoral;
                      }
   
                      &:focus,
                      &:hover {
                          opacity: 0.5;
                      }
                  }
              }
  
              &__tooltip {
                  position: fixed;
                  width: 200px;
                  margin-top: 20px;
                  padding: 10px;
                  border: 1px solid darkgray;
                  background-color: white;
                  opacity: 90%;
              }
          }
      }
  }

//TODO check if this is even being used? Find tool to remove unused css!
svg {
    
    &__location //single borough
    {
        fill: navy;
        cursor: pointer;
        
        &:focus,
        &:hover {
            outline: 0;
            fill: gray;
        }

        &[aria-checked=true] {
            fill: #f4bc44;
        }
    }
}

div[role="toolbar"]
{
    transform:scale(1.2)!important;
}
