
* {
    box-sizing: border-box;
  }
  
  $width: 75%;

  .MapContainer {
      width: $width;
      margin: 3% auto;
      font-family: Arial, sans-serif;
      text-align: center;
  
      &__title {
          margin-bottom: 80px;
          padding-bottom: 40px;
          border-bottom: 1px dotted black;
          font-size: 24px;
      }
  
      &__block {
          width: 100%;
          margin-bottom: 20px;
          padding-bottom: 20px;
          border-bottom: 1px dotted black;
  
         
        &__title{
            padding-top: 30px;
            font-size: 20px;
            padding-right: 15px;
            padding-left: 15px;
        }

         &__dateBox{
            margin-left: 80%;
            text-align: left;                  

            @media screen and (max-width: 960px) {
                margin: 20px auto;
                text-align: center;    
            }
         }
         
          &__refreshDate {
            margin: 50px 0 0 0;
            }
  
          &__info {
              display: inline-block;
              vertical-align: top;
              width: 450px;
              text-align: left;
  
              &__item {
                  margin-bottom: 20px;
              }
          }
  
          &__map {
              display: inline-block;
              clear:both;
              
              &--london {
                  text-align: center;
                  min-width: 321px;
                  min-height: 158px;
                  border: 1px solid black;
                  
                  .svg-map__location {
                      stroke:black;
                      stroke-width: 0.5;

                      &[aria-checked="false"]{
                          opacity: 0.3;
                      }

                      &--heat0 {
                          fill: white;
                      }
  
                      &--heat1 {
                          fill: lightyellow;
                      }
  
                      &--heat2 {
                          fill: rosybrown;
                      }
  
                      &--heat3 {
                          fill: lightcoral;
                      }
   
                      &:focus,
                      &:hover {
                          opacity: 0.5;
                          
                      }
                  }
              }
  
              &__tooltip {
                  position: fixed;
                  width: 200px;
                  margin-top: 20px;
                  padding: 10px;
                  border: 1px solid darkgray;
                  background-color: white;
                  opacity: 90%;
              }
          }



      }
  }

//TODO check if this is even being used? Find tool to remove unused css!

svg {
    
    &__location // borough
    {
        //fill: navy;
        //cursor: pointer;
        
        &:focus,
        &:hover {
            outline: 0;
            fill: gray;
        }
    }
}

div[role="toolbar"]
{
    transform: scale(1.15)!important;
    position: absolute!important;
    top: 3%!important;
    right: 0.1%!important;
    background-color: rgba(19, 20, 22, 0.9)!important;
    border-radius: 2px!important;
    padding: 2px 1px!important;
}
