#questions-container{
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    text-align: center;
    font-size: 3rem;
    overflow: hidden;
    
}

.question{

}

.slide-up, .slide-down {
    overflow:hidden;
  }
  .slide-up > div, .slide-down > div {
    transform: translateY(-100%);
    transition: .4s ease-in-out;
  }
  .slide-down > div {            
    transform: translateY(0);
  } 